{% extends "index.html" %}
{%  block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"> </th>
      <th scope="col">Name</th>
      <th scope="col">Department</th>
      <th scope="col">Salary</th>
      <th scope="col">Date of birth</th>
    </tr>
  </thead>
  <tbody>
  {% for e in employees %}
    <tr>
      <td>
        <button type="button" class="btn btn-danger btn-sm">Delete</button>
      </td>
      <td><a class="text-dark" href="/employees/{{ e.employee_id }}">{{ e.name }}</a></td>
      <td><a class="text-dark" href="/departments/{{ e.department_id }}">{{ e.department_name }}</a></td>
      <td>{{ e.salary }}$</td>
      <td>{{ e.date_of_birth }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}