{% extends "index.html" %}
{%  block css %}
  <link rel="stylesheet" href="/static/css/profile.css">
{%  endblock %}
{%  block content %}
<div class="card">
  <img src="/static/images/userpic.jpg" alt="User pictire" style="width:100%">
  <h1>{{ name }}</h1>
  <h6><span class="badge badge-secondary">employee</span></h6>
  <p><i>Department: </i><a class="text-dark" href="/departments/{{ department_id }}"><b><u>{{ department_name }}</u></b></a></p>
  <p><i>Salary: </i><b>{{ salary }}$</b></p>
  <p><i>Date of birth: </i><b>{{ date_of_birth }}</b></p>
  <div class="btn-group">
    <button type="button" class="btn btn-danger">Delete</button>
    <button type="button" class="btn btn-success">Edit</button>
  </div>
</div>
{% endblock %}